[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/thamiress
[access "refs/for/refs/*"]
	read = group user/thamiress
	push = group user/thamiress
	label-Code-Review = -2..+2 group user/thamiress
	label-Verified = -1..+1 group user/thamiress
	rebase = group user/thamiress
	removeReviewer = group user/thamiress
	submit = group user/thamiress
[access "refs/heads/*"]
	read = group user/thamiress
	create = group user/thamiress
	push = +force group user/thamiress
	pushMerge = group user/thamiress
[access "refs/tags/*"]
	push = +force group user/thamiress
	pushTag = group user/thamiress
	pushSignedTag = group user/thamiress
